 /* добавили шрифты */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

 /* подключили стили для иконочного шрифта (iconomoon) */
 @import url('./iconomoon.css');

 body {
     font-family: 'Poppins', sans-serif;
 }

 .container {
     max-width: 1080px;
     margin: 0 auto;
 }